<h1>About</h1>
<p>In 2011, designer Charlene Koplin launched Kozi as an animal friendly alternative to traditional fur throws.</p>
<p>Koplin's Kozi designs, which are produced in the US from the highest quality materials, provide a wide range of styles and options that suit any lifestyle, from time at the resort lodge in front of the fire, to game time on the sofa with the family and pets.</p>
<p>The Kozi throws are beautiful in any environment; imagine curling up with them at the lake house in the fall or on a patio on a cool spring evening.</p>
<p>Sophisticated in a modern setting, they are also perfect for brightening up any college dorm room.</p>
<p>Inspired by the imagination of the designer, the three Kozi lines are as beautiful as they are functional.</p>