<div class="accordian nature" >
 	<a href="products/nature">
 		<img class="" src="img/productspage/1_inspiredbynature_on.jpg" alt="" border="0" />
 		<img class="fade" src="img/productspage/1_inspiredbynature_off.jpg" alt="" border="0" />
 	</a>
</div>
<div class="accordian plushtastic">
    <a href="products/plushtastic" >
		<img class="" src="img/productspage/2_plushalicious_on.jpg" alt="" border="0" />
		<img class="fade" src="img/productspage/2_plushalicious_off.jpg" alt="" border="0" />
	</a>
</div>
<div class="accordian fantastical">
	<a href="products/fantastical">
		<img class="" src="img/productspage/3_fantastical_on.jpg" alt="" border="0" />    	
  		<img class="fade" src="img/productspage/3_fantastical_off.jpg" alt="" border="0" />
	</a>
</div>
